/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

div:has(> div.field_with_errors) {
  border: 1px solid red;
  width: fit-content;
}

.message {
  width: fit-content;
  font-weight: 700;
  padding: 5px;
  border-radius: 3px;
}

.success {
  color: green;
  background-color: rgb(191, 219, 191);
}

.notice {
  color: black;
  background-color: rgb(169, 179, 188);
}

.error {
  color: red;
  background-color: rgb(218, 197, 197);
}

table, th, td {
  border: 1px solid;
}

table {
  width: clamp(400px, 60%, 800px);
}
